In [55]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from moneyball import find_position, places
%matplotlib inline

In [34]:
!head data/baseballdatabank-master/core/Batting.csv

In [44]:
batting_stats = pd.read_csv('data/baseballdatabank-master/core/Batting.csv')

In [48]:
columns = ['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'H', 'BB', 'HBP', 'SH', 'SF']
batting = batting_stats[columns].copy()
batting.head()

    playerID  yearID  stint teamID lgID   G     AB     H   BB  HBP  SH  SF
0  abercda01    1871      1    TRO  NaN   1    4.0   0.0  0.0  NaN NaN NaN
1   addybo01    1871      1    RC1  NaN  25  118.0  32.0  4.0  NaN NaN NaN
2  allisar01    1871      1    CL1  NaN  29  137.0  40.0  2.0  NaN NaN NaN
3  allisdo01    1871      1    WS3  NaN  27  133.0  44.0  0.0  NaN NaN NaN
4  ansonca01    1871      1    RC1  NaN  25  120.0  39.0  2.0  NaN NaN NaN

In [5]:
salary = pd.read_csv('data/baseballdatabank-master/core/Salaries.csv')

In [6]:
salary.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [49]:
batting_salaries = pd.merge(batting, salary)

In [50]:
batting_salaries

,playerID,yearID,stint,teamID,lgID,G,AB,H,BB,HBP,SH,SF,salary
0,ackerji01,1985,1,TOR,AL,61,NaN,NaN,NaN,NaN,NaN,NaN,170000
1,agostju01,1985,1,CHA,AL,54,0.0,0.0,0.0,0.0,0.0,0.0,147500
2,aguaylu01,1985,1,PHI,NL,91,165.0,46.0,22.0,6.0,4.0,3.0,237000
3,alexado01,1985,1,TOR,AL,36,NaN,NaN,NaN,NaN,NaN,NaN,875000
4,allenne01,1985,1,SLN,NL,23,2.0,0.0,0.0,0.0,0.0,0.0,750000
5,almonbi01,1985,1,PIT,NL,88,244.0,66.0,22.0,1.0,4.0,3.0,255000
6,anderla02,1985,1,PHI,NL,57,4.0,0.0,0.0,0.0,1.0,0.0,250500
7,andujjo01,1985,1,SLN,NL,38,94.0,10.0,5.0,0.0,7.0,0.0,1030000
8,armasto01,1985,1,BOS,AL,103,385.0,102.0,18.0,2.0,0.0,5.0,915000
9,ashbyal01,1985,1,HOU,NL,65,189.0,53.0,24.0,1.0,1.0,1.0,416667
10,atherke01,1985,1,OAK,AL,56,NaN,NaN,NaN,NaN,NaN,NaN,107333
11,ayalabe01,1985,1,CLE,AL,46,76.0,19.0,4.0,0.0,0.0,1.0,303333
12,backmwa01,1985,1,NYN,NL,145,520.0,142.0,36.0,1.0,14.0,3.0,200000
13,bailobo01,1985,1,LAN,NL,74,118.0,29.0,3.0,1.0,8.0,0.0,330000
14,baineha01,1985,1,CHA,AL,160,640.0,198.0,42.0,1.0,0.0,10.0,675000
15,bakerdu01,1985,1,OAK,AL,111,343.0,92.0,50.0,0.0,0.0,3.0,575000
16,balbost01,1985,1,KCA,AL,160,600.0,146.0,52.0,5.0,0.0,5.0,205000
17,bandoch01,1985,1,CLE,AL,73,173.0,24.0,22.0,0.0,2.0,2.0,225000
18,bannial01,1985,1,TEX,AL,57,122.0,32.0,14.0,0.0,1.0,0.0,350000
19,bannifl01,1985,1,CHA,AL,34,0.0,0.0,0.0,0.0,0.0,0.0,811250
20,barfije01,1985,1,TOR,AL,155,539.0,156.0,66.0,4.0,0.0,3.0,325000
21,barkele01,1985,1,ATL,NL,20,17.0,0.0,0.0,0.0,0.0,0.0,870000
22,barrema02,1985,1,BOS,AL,156,534.0,142.0,56.0,2.0,12.0,4.0,272500
23,basske01,1985,1,HOU,NL,150,539.0,145.0,31.0,6.0,4.0,2.0,155000
24,baylodo01,1985,1,NYA,AL,142,477.0,110.0,52.0,24.0,1.0,10.0,810000
25,beattji01,1985,1,SEA,AL,18,NaN,NaN,NaN,NaN,NaN,NaN,470000
26,beckwjo01,1985,1,KCA,AL,49,NaN,NaN,NaN,NaN,NaN,NaN,358000
27,bedrost01,1985,1,ATL,NL,37,64.0,5.0,1.0,0.0,6.0,0.0,550000
28,bellbu01,1985,2,CIN,NL,67,247.0,54.0,34.0,0.0,1.0,2.0,751297
29,bellge02,1985,1,TOR,AL,157,607.0,167.0,43.0,8.0,0.0,8.0,335000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24596,walteza01,2015,1,CLE,AL,12,30.0,4.0,0.0,0.0,0.0,0.0,509600
24597,warread01,2015,1,NYA,AL,43,3.0,0.0,0.0,0.0,0.0,0.0,572600
24598,watsoto01,2015,1,PIT,NL,77,0.0,0.0,0.0,0.0,0.0,0.0,1750000
24599,weaveje02,2015,1,LAA,AL,26,2.0,0.0,0.0,0.0,0.0,0.0,18000000
24600,weeksri01,2015,1,SEA,AL,37,84.0,14.0,9.0,2.0,0.0,0.0,2000000
24601,werthja01,2015,1,WAS,NL,88,331.0,73.0,38.0,3.0,0.0,6.0,21000000
24602,wielajo01,2015,1,LAN,NL,2,1.0,0.0,0.0,0.0,1.0,0.0,590000
24603,wietema01,2015,1,BAL,AL,75,258.0,69.0,21.0,0.0,0.0,3.0,8300000
24604,wilheto01,2015,1,SEA,AL,53,0.0,0.0,0.0,0.0,0.0,0.0,1400000
24605,wilsobo02,2015,1,TBA,AL,25,55.0,8.0,4.0,0.0,0.0,0.0,700000
24606,wilsocj01,2015,1,LAA,AL,21,6.0,2.0,0.0,0.0,0.0,0.0,18000000
24607,wilsoju10,2015,1,NYA,AL,74,0.0,0.0,0.0,0.0,0.0,0.0,556000
24608,wongko01,2015,1,SLN,NL,150,557.0,146.0,36.0,15.0,0.0,5.0,520000
24609,woodal02,2015,1,ATL,NL,20,33.0,5.0,3.0,0.0,5.0,0.0,520000
24610,woodtr01,2015,1,CHN,NL,60,30.0,3.0,2.0,0.0,0.0,0.0,5686000
24611,wootero01,2015,1,MIL,NL,4,1.0,0.0,0.0,0.0,0.0,0.0,509500
24612,worleva01,2015,1,PIT,NL,24,17.0,3.0,0.0,0.0,1.0,0.0,2450000
24613,wrighda03,2015,1,NYN,NL,38,152.0,44.0,22.0,0.0,0.0,0.0,20000000
24614,wrighst01,2015,1,BOS,AL,16,1.0,0.0,0.0,0.0,1.0,0.0,510500
24615,yateski01,2015,1,TBA,AL,20,0.0,0.0,0.0,0.0,0.0,0.0,512800
24616,yelicch01,2015,1,MIA,NL,126,476.0,143.0,47.0,2.0,0.0,0.0,570000
24617,youngch03,2015,1,KCA,AL,34,4.0,2.0,0.0,0.0,0.0,0.0,675000
24618,youngch04,2015,1,NYA,AL,140,318.0,80.0,30.0,3.0,3.0,2.0,2500000
24619,youngde03,2015,1,BAL,AL,52,174.0,47.0,4.0,1.0,0.0,1.0,2250000
24620,younger03,2015,1,ATL,NL,35,77.0,13.0,6.0,0.0,2.0,0.0,1000000
24621,zieglbr01,2015,1,ARI,NL,66,0.0,0.0,0.0,0.0,0.0,0.0,5000000
24622,zimmejo02,2015,1,WAS,NL,33,63.0,10.0,0.0,0.0,6.0,0.0,16500000
24623,zimmery01,2015,1,WAS,NL,95,346.0,86.0,33.0,1.0,0.0,10.0,14000000
24624,zobribe01,2015,1,OAK,AL,67,235.0,63.0,33.0,0.0,0.0,3.0,7500000
24625,zuninmi01,2015,1,SEA,AL,112,350.0,61.0,21.0,5.0,8.0,2.0,523500

### On Base Percentage
![On Base Percentage](https://upload.wikimedia.org/math/5/6/e/56e63a7b1b0724813e09ba0ab1160a22.png)

obp = (hits + walks + hit_by_pitch) / (at_bats + walks + hit_by_pitch + sacrifice_flies)

In [9]:
appearances = pd.read_csv('data/baseballdatabank-master/core/Appearances.csv')

In [56]:
positions = pd.Series(find_position(places))
appearances = appearances[['yearID', 'teamID', 'playerID']].copy()
appearances['position'] = positions

In [57]:
appearances.tail()

        yearID teamID   playerID     position
100946    2015    OAK   zitoba01      pitcher
100947    2015    KCA  zobribe01  second_base
100948    2015    OAK  zobribe01  second_base
100949    2015    SEA  zuninmi01      catcher
100950    2015    SEA   zychto01      pitcher

In [58]:
batting_salaries_by_position = pd.merge(batting_salaries, appearances)

In [61]:
batting_salaries_by_position.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24510 entries, 0 to 24509
Data columns (total 14 columns):
playerID    24510 non-null object
yearID      24510 non-null int64
stint       24510 non-null int64
teamID      24510 non-null object
lgID        24510 non-null object
G           24510 non-null int64
AB          22633 non-null float64
H           22633 non-null float64
BB          22633 non-null float64
HBP         22633 non-null float64
SH          22633 non-null float64
SF          22633 non-null float64
salary      24510 non-null int64
position    24510 non-null object
dtypes: float64(6), int64(4), object(4)
memory usage: 2.8+ MB

In [15]:
batting_salaries_by_position.loc[1].BB

0.0